
@{
    ViewBag.Title = "VerificaUsuario";
}


    <link rel="stylesheet" href="~/Content/Tabela.css" />
    <title>Verificar Usuario</title>


    <div class="container">
        <div class="tudo">
            <form action="" method="post" name="Login_Form" class="formPontilhado">

               <!-- <div class="botaoVerifica">
                    <a class="btn btn-info" href="/CadastroGoverno/Index">GOVERNO</a>
                </div> -->
               
                <div class="botaoVerifica">
                    <a class="btn btn-info" href="/CadastroEntidade/Index">ENTIDADE</a>
                </div>
                
                <div class="botaoVerifica">
                    <a class="btn btn-info" href="/CadastroVoluntario/Index">VOLUNTARIO</a>
                </div>
            
            </form>
        </div>
    </div>
