
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/MenuPrincipal.css" />


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width" />
    <title>Bloqueado</title>
</head>
<body>
    <div class="container" style="margin-top:100px;"> 
        <div class="alert @Classe.Entidade(ViewBag.Entidade.Status)" role="alert">
            <h4 class="alert-heading">Olá @ViewBag.Entidade.Nome Infelizmente você ainda não pode fazer movimentações no Site!</h4>
            <p>Isto é porque o Governo ainda não Liberou seu cadastro Segue o Status do seu cadastro logo a baixo</p>
            <hr>
            <p class="mb-0">Status: @ViewBag.Entidade.getStatusDescricao()</p>
        </div>
        <a class="btn btn-info" href="/Sair/Index">Voltar</a>
    </div>
    
</body>
</html>
